extends layout
block content

    section.probootstrap-section
      .container
        .probootstrap-section-heading.text-center.mb50.probootstrap-animate
          h4.sub-heading Welcome to Athlone Kids Camps
          h2.heading Update Your Camps Here!!
          a(href='../products') Back to Camps
     .formHold
       h1.itemtitle
            each product in indOne
             form(method="post")
               fieldset 
                 label(for="newname") Camp Name:
                 input(name="newname", type="text", required, value="#{product.name}")
                 label(for="newcategory") Category:
                 input(name="newcategory", type="text", required, value="#{product.category}")
                 label(for="newwebsite") Website:
                 input(name="newwebsite", type="text", required, value="#{product.website}")
                 label(for="newimage") Camp Image:
                 input(name="newimage", type="text", required, value="#{product.image}")
                 button.btn.btn-primary.btn-sm(type="submit") Update #{product.name}
                           
