extends layout
block content

    section.probootstrap-section
      .container
        .probootstrap-section-heading.text-center.mb50.probootstrap-animate
          h4.sub-heading Welcome to Athlone Kids Camps
          h2.heading Individual Camps
          a(href='../products') Back to Camps 
        .row
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.probootstrap-animate(data-animate-effect='fadeIn')
            each product in indi
              .product-item
                img.img-responsive(src='../#{product.image}', alt='Athlone Kids Camps')
                h4.itemtitle #{product.name}
                p.itemp Category : #{product.category}
                p.itemp Website : #{product.website}             
                a.btn.btn-primary.btn-sm(href='#{product.website}' target="_blank") Book Here
          
